.App {
  text-align: center;
  
}

.digit-label {
  transform: rotate(90deg);
}


.res {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  transform: rotate(270deg);
  width: 30rem;
}
